html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 100px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.action span{
  margin-right: 5px
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.error ul {
  padding: 0px
}
.error li{
  list-style-type: none
}